@import "tailwindcss";
* {
    border: solid black 1px;
    margin: 0.5px;
    width: 100%;
    text-align: center;
}
:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#center-calc {
    background-color: rgb(140 180 255);
}
#ratio-calc {
    background-color: rgb(140 150 230);
}
nav {
    border: solid lightskyblue;
}
main {
    border-radius: 5px;
}
h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: start;
    /*background-color: rgb(50 0 50);*/
}
input {
    background-color: lightgray;
}
button {
}
a::after {
    content: url("lib/assets/external.png");
    size: 16px;
}
#wikipedia_img {
    width: 500px;
}
