@import "tailwindcss";
* {
    border: solid black 1px;
    margin: 0.5px;
    width: 100%;
    text-align: center;
}
:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#main_container {
    background-color: rgb(140 180 255);
}
nav {
    border: solid lightskyblue;
}
main {
    border: solid 4px blue;
    border-radius: 5px;
}
h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: start;
}
input {
    background-color: lightgray;
}
button {
}
a::after {
    content: url("lib/assets/external.png");
    size: 16px;
}
