@import "tailwindcss";
* {
    /*border: solid black 1px;*/
    margin: 0px;
    width: 100%;
    text-align: center;
}
:root {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#center-calc {
    background-color: rgb(140 180 255);
}
#ratio-calc {
    background-color: rgb(140 150 230);
}
nav {
    border: solid lightskyblue;
}

h1 {
    font-size: 2rem;
    text-align: center;
}
h2 {
    font-size: 2rem;
    text-align: start;
    /*background-color: rgb(50 0 50);*/
}
input {
    background-color: black;
    border: solid white 1px;
}
button {
    border: 1px solid white;
}
a::after {
    content: url("lib/assets/external.png");
    size: 16px;
}
#wikipedia_img {
    width: 500px;
}
body {
    padding-left: 12.6%;
    padding-right: 12.6%;
}
html {
    background: url("https://i.pinimg.com/736x/40/25/e1/4025e135470ade059a7c4de3dd2a40c7.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    height: 100dvh;
}
@media (width < 500px) {
    #newMain {
        height: 100dvh;
    }
    #buttonholder {
        display: flex;
        flex-direction: column;
    }
    #inputs,
    #titlebar,
    #presets {
        margin-bottom: 10%;
    }
    body {
        padding: 0;
    }
    input,
    button {
        height: 3rem;
    }
}
